*{
    font-family: 'cocodjambo';
}

@font-face {
    font-family: 'cocodjambo';
    src: url(../fonts/CocomatLight-ZXY3.ttf);
}

// .container{
//     margin: 0 auto;
//     max-width: 950px;
//     box-sizing: border-box;
//     padding: 0;
// }
@import "base/varibles";
@import "block/header.scss";
@import "block/buttons";
@import "base/mixins";
@import "media/media.scss";
@import "block/modal";